body {
    margin: 0;

    font-family: 'Roboto';
}
#main {
    position: relative;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    margin: 0;
    background: #F6F6F6;
}
#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 24px;
    gap: 20px;
    box-sizing: border-box;

    position: absolute;
    width: 400px;

    /* Gray / White */

    background: #FFFFFF;
    /* Elevation / Lv2 */

    box-shadow: 0 4px 20px rgba(44, 57, 121, 0.09);
    border-radius: 16px;
}

.title {
    /* Headers / H1 – bold */

    width: 352px;
    height: 36px;

    /* Headers / H1 – bold */

    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    /* identical to box height, or 36px */

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    /* Gray / 700 */

    color: #373745;


    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}
.input-group input {
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 12px 20px;
    gap: 8px;

    width: 352px;
    height: 48px;

    /* Gray / White */

    background: #FFFFFF;
    /* Gray / 100 */

    border: 1px solid #DCDCDF;
    border-radius: 12px;

    /* Inside auto layout */

    flex: none;
    align-self: stretch;
    flex-grow: 0;

    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

.input-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 12px;

    /* Inside auto layout */

    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
}

input.warning {
    border: 1px solid #E93E3E;
}

.login {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 12px 20px;
    gap: 8px;

    width: 352px;
    height: 48px;

    background: #60C2AA;
    border: 0;
    border-radius: 12px;

    /* Inside auto layout */

    flex: none;
    order: 3;
    align-self: stretch;
    flex-grow: 0;



    /* Body / 16px medium */
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */


    text-align: center;
    letter-spacing: 0.24px;

    /* Gray / White */

    color: #FFFFFF;

    cursor: pointer;
}

.disabled {
    background: rgba(96, 194, 170, 0.3);
}

.error-text {
    width: 352px;
    height: 16px;

    /* Body / 12px regular */

    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    /* identical to box height, or 133% */

    letter-spacing: 0.25px;

    /* System / Danger 400 */

    color: #E93E3E;


    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;

    width: 352px;
    height: 64px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}